* {
    /* Variables globales del tema */
    -color-principal: #478fb6;
    -color-hint: #3b8ba9;
    -fondo: #2b2b2b;
    -gris: rgba(5, 5, 5, 0.78);
    -verde: #3d682a;
    -verde-hint: #8cd144;
    -negro: #000000;
    -blanco: #ffffff;
    -transparente: rgba(255, 255, 255, 0);
}

.parent {
    -fx-background-color: -fondo;
}

.fondo-menu {
    -fx-background-color: -blanco;
}

.label {
    -fx-text-fill: -blanco;
}

.jfx-button-normal {
    -fx-text-fill: -blanco;
    -fx-background-color: -color-principal;
    -fx-background-radius: 15px;
}

.jfx-button-normal:hover {
    -fx-background-color: -color-hint;
}

.jfx-toggle-button {
    -fx-text-fill: -blanco;
    -jfx-toggle-color: -color-principal;
    -jfx-toggle-line-color: -color-principal;
    -jfx-untoggle-color: -color-principal;
    -jfx-rippler-fill: -blanco;
}

.jfx-btn-fantasma {
    -fx-background-color: -fondo;
    -fx-border-color: -color-principal;
    -fx-border-width: 2px;
    -fx-border-radius: 15px;
}

.jfx-button-circular {
    -fx-background-color: -color-principal;
    -fx-background-radius: 100%;
    -jfx-button-type: RAISED;
}

.jfx-button-circular:hover {
    -fx-background-color: -color-hint;
    -fx-border-width: 100%;
    -fx-border-radius: 100%;
}

.jfx-button-desplegable {
    -fx-background-color: -color-principal;
    -fx-text-fill: -blanco;
    -fx-background-radius: 0px;
}

.jfx-snackbar-content {
    -fx-background-color: -color-principal;
    -fx-padding: 5;
    -fx-spacing: 5;
}

.jfx-snackbar-toast {
    -fx-text-fill: -blanco;
}

.jfx-area-texto {
    -fx-background-color: -blanco;
    -fx-background-radius: 0px;
}

.jfx-menu-no-bordes {
    -fx-background-radius: 0px;
}

.jfx-cambiar-arista {
    -fx-background-color: -verde;
    -fx-background-radius: 100%;
    -jfx-button-type: RAISED;
}

.jfx-cambiar-arista:selected {
    -fx-background-color: -verde-hint;
}

.jfx-texto-label {
    -fx-background-color: -gris;
}